html {
  scroll-behavior: smooth;
}
/*/////////////////////////////////////////////////////////////body////////////////////////////////////////////*/
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
/*/ /////////////////////////////////////////////////////////section de la page//////////////////////////////////*/
section {
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*/////////////////////////////////*/
h1{
  font-size: 3rem;
  text-shadow: 5px, 5px, 4px, rgb(255, 255, 255);
  margin: 0;
  display: flex;
  font-size: clamp( 3rem, 2.6rem + 2vw, 5rem);
}
/*menu principal du site.
 on utilise un positionement 
 fixe pour que le menu reste 
 en haut de chacune des sections*/
 p{
  font-family: ea;
 }
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
}
nav a {
  color: rgb(255,234,128);;
  text-decoration: none;
  padding: 4px 1rem;
}


#aricle {
  background-color: rgb(12,27,107);
   color: white;}


table,
th,
td {
  border: 1px solid;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* menu du site*/
.menu{
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu a:hover{
  background-color: rgb(5, 10,34);;
  transform: scale(1.2);
  transition: transform 0.5;
}
.menu a{
  font-size: 1.2rem;
  padding: 13px;
  color: rgb(210, 181, 123);
  display: block;
  text-decoration: none;
  font-weight: bolder;
}
#aricle {
  background-color: rgb(12,27,107);
   color: white;}
   .youtube {
    display: flex;
    justify-content: space-between;
    flex-direction: column;     
  }
  #video {
    background-color:rgb(5, 10,34);
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
  } 
  .fig__galerie :hover{
    background-color: rgb(5, 10,34);;
    transform: scale(1.2);
    transition: transform 0.5;
  }
  .fig__galerie {
    font-size: 1.2rem;
    padding: 13px;
    color: rgb(210, 181, 123);
    display: block;
    text-decoration: none;
    font-weight: bolder;
  }
  #chk-burger:checked ~ .nom {
    transform: translateX(0);
    /* background-color: red; */
  }
  