.mon_tableau {
  border-collapse: collapse;
  border: 1px solid rgb(41, 80, 197);
}
.mon_tableau td,
.mon_tableau th {
  border: 1px solid #555;
  padding: 5px;
  font-size: 1rem;
}
.mon_tableauth {
  font-size: 1.2rem;
  /*
  pour rendre le fond plus fonce*/
  background-color: rgba(0, 0, 0, 0.1);
  /*pour rendre le noir*/
}
#tableau{
  background-image: url("../images/01.jpg");
}

