#video {
    background-color:rgb(5, 10,34);
    color: white; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify;
    flex-direction: column;
     
  } 